<div class="input input_view_{{ view }} {{ mix }}">
    <span class="input__descr">{{ descr }}</span>
    <input placeholder="{{ placeholder }}" class="input__field" type="{{ type }}" name="{{ name }}" {{#if disabled}}disabled{{/if}} />
</div>