<div class="chat-item">
    <img src="{{ avatar }}" alt="avatar" class="chat-item__avatar">
    <span class="chat-item__name">{{ name }}</span>
    <p class="chat-item__message">{{#if (isYouSender sender)}}<span class="message__sender">Ğ’Ñ‹: </span>{{/if}}{{ latestMessage }}</p>
    <span class="chat-item__timestamp">{{ timestamp }}</span>
    {{#if unreadMessagesCount}}<div class="chat-item__unread-count">{{ unreadMessagesCount }}</div>{{/if}}
</div>